<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
         https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
  <display-name>ClubDeportivo</display-name>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>


    <servlet>
        <servlet-name>ClubServlet</servlet-name>
        <servlet-class>net.elpuig.clubdeportivo.servlet.ClubServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ClubServlet</servlet-name>
        <url-pattern>/ejecutar</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ClubServlet</servlet-name>
        <url-pattern>/alta</url-pattern>
    </servlet-mapping>
</web-app>
